<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <span><a href="#">Log in</a></span>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                    <strong>Authentication failed!</strong> Please check your credentials and try again.
                </div>

                <form class="form-horizontal form-validation" 
                      role="form" 
                      name="form_signin" 
                      ng-submit="login()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       id="username" 
                                       placeholder="Username" 
                                       ng-model="username"
                                       required
                                       ng-minlength="2"
                                       ng-maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       id="password" 
                                       placeholder="Password"
                                       ng-model="password"
                                       required
                                       ng-minlength="4">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="rememberMe"
                               ng-model="rememberMe" checked> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" 
                               class="btn btn-primary btn-lg btn-block"  
                               ng-disabled="form_signin.$invalid">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center text-muted text-small">Don't have an account yet? <a href="#/register">Sign up</a> or <a href="#">Back to home</a></p>
                </section>
                
            </div>
        </div>
    </div>

</div>